<!DOCTYPE html>
<html ng-app><!-- initalize the bootstrip AngularJs -->
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
 	<title>JS Bin</title>
</head>
<body>
	<div ng-init="amount = 1250.50"> 
		<p>{{amount | currency:"€"}}</p>
	</div>
	<div ng-init="amount = 1250.50594859"> 
		<p>{{amount | number:4}}</p>
		<p>{{-amount | number:4}}</p>
	</div>
	<div ng-init="string = 'star wars'"> 
		<p>{{string | uppercase}}</p>
	</div>
	<div ng-init="mydate = 1399648945000"> 
		<p>{{mydate | date}}</p>
		<p>{{mydate | date : 'medium'}}</p>
		<p>{{mydate | date : 'yyyy - MM - d (H:m)'}}</p>
	</div>
	<div ng-init="myArray = [0,1,2,3,4,5]"> 
		<p>{{myArray | limitTo: 4}}</p>
		<p>{{myArray | limitTo: -3}}</p>
	</div>

	<div ng-init="rebels=[
	{name: 'Luke', profession:'Jedi 2', weapon: 'lightsaber', age:19},
	{name: 'Ben Kenobi', profession:'Jedi 1', weapon: 'lightsaber2', age:24},
	{name: 'Chewuiue', profession:'Pilot', weapon: 'bowcaster', age:12},
	{name: 'New', profession:'Pilot', weapon: 'bowcaster', age:15},
	];">
	Weapon Search: <input type="text" ng-model="search.weapon">
	<p>Free text Search: <input type="text" ng-model="search.$"></p>
		<ul>
			<li ng-repeat="rebel in rebels | orderBy:'name'">
				Name:{{rebel.name}}
				Age:{{rebel.age}}
				Profession:{{rebel.profession}}
				Weapon:{{rebel.weapon}}
			</li>
		</ul>
		--Age
		<ul>
			<li ng-repeat="rebel in rebels | orderBy:'-age'">
				Name:{{rebel.name}}
				Age:{{rebel.age}}
				Profession:{{rebel.profession}}
				Weapon:{{rebel.weapon}}
			</li>
		</ul>

		--Age and profession
		<ul>
			<li ng-repeat="rebel in rebels | orderBy:['profession','age']">
				Name:{{rebel.name}}
				Age:{{rebel.age}}
				Profession:{{rebel.profession}}
				Weapon:{{rebel.weapon}}
			</li>
		</ul>
		--Have Luke string
		<ul>
			<li ng-repeat="rebel in rebels | filter: 'Luke'">
				Name:{{rebel.name}}
				Age:{{rebel.age}}
				Profession:{{rebel.profession}}
				Weapon:{{rebel.weapon}}
			</li>
		</ul>
		--Change base on search input
		<ul>
			<li ng-repeat="rebel in rebels | filter: search">
				Name:{{rebel.name}}
				Age:{{rebel.age}}
				Profession:{{rebel.profession}}
				Weapon:{{rebel.weapon}}
			</li>
		</ul>
	</div>
</body>
</html>